body {
    display: flex;
}

.box {
    background: rebeccapurple;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.main {
    flex-grow: 1;
}

.sidebar {
    width: 30%;
    border-left: 1px solid black;
}

/* @media (width >= 600px) {
    .box {
        background: red;
    }
} */

.main, .sidebar {
    container-type: inline-size;
}

@container (width >= 400px) {
    .box {
        background: red;
    }
}
