body {
   height: 100vh;
   max-width: 100%;
   overflow: clip;
   margin: 0;
   display: grid;
   place-items: center;
}
  
.container {
   position: relative;
}
  
nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}

nav a {
  text-decoration: none;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  color: #455a64;
  padding: 0.5rem 1rem;
}

nav a svg {
  pointer-events: none;
  width: 1.2em;
  fill: currentColor;
}  

nav a:hover,
nav a:focus {
  color: #1e88e5;
}
  
#duplicate-nav {
  position: absolute;
  inset: 0;
  background: #1e88e5;
  pointer-events: none;
  
  clip-path: inset(0 77% 0 0% round 1rem);
  transition: clip-path 0.2s;  
}

#duplicate-nav a {
  color: white;
}

/* ----------------------------------------------------------------------------------------------------------- */

/* body {
  height: 100vh;
  max-width: 100%;
  overflow: clip;
  margin: 0;
  display: grid;
  place-items: center;
}
  
.container {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  a {
    text-decoration: none;
    display: flex;
    gap: 0.4rem;
    align-items: center;
    color: #455a64;
    padding: 0.5rem 1rem;
    svg {
      pointer-events: none;
      width: 1.2em;
      fill: currentColor;
    }
    &:hover,
    &:focus {
      color: #1e88e5;
    }
  }
}

#duplicate-nav {
  position: absolute;
  inset: 0;
  background: #1e88e5;
  pointer-events: none;

  clip-path: inset(0 77% 0 0% round 1rem);
  transition: clip-path 0.2s;

  a {
    color: white;
  }
} */