.parent {
    width: 100%;
    /* height: auto; */
    border: 1px dashed black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #add8e6;
}

.child {
    border: 1px solid black;
    padding: 50px;
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    background-color: #fa8072;
}